<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Package</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
</head>

<body>
    <div style="margin-left: 20px; margin-right: 20px">
        <h1>Package Panel</h1>
        <form action="/package/new" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-3">
                    <input type="text" name="name" class="form-control" placeholder="Name" />
                </div>
                <div class="col-md-3">
                    <input type="number" name="amount" class="form-control" placeholder="Amount" />
                </div>
                <div class="col-md-2">
                    <input type="number" name="cycles" class="form-control" placeholder="Cycles" />
                </div>
                <div class="col-md-2">
                    <input type="file" name="logo" class="form-control" placeholder="Cycles" />
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn" style="float: right;">Add Package</button>
                </div>
            </div>
        </form>
        <hr>
        <div>
            <table id="result" class="table table-bordered"></table>
        </div>
    </div>
    <script src="javascripts/jquery.js"></script>
    <script>
        $('#add').click(function () {
            $.post('/package/new', {
                name: $('#name').val(),
                amount: $('#amount').val(),
                cycles: $('#cycles').val()
            }, data => refresh())
        })

        $('#result').on('click', '.delete', e => {
            const id = e.target.attributes[1].value
            $.get(`/package/delete/${id}`, data => refresh())
        })

        function refresh() {
            $.getJSON(`/package/all`, data => makeTable(data.result))
        }

        function makeTable(data) {
            let table = "<tr><td>ID</td><td>Name</td><td>Amount</td><td>Cycles</td><td>Logo</td><td>Delete</td></tr>"
            $.each(data, (i, item) => {
                table +=
                    `<tr><td>${item.id}</td>
                    <td>${item.name}</td>
                    <td>&#8377; ${item.amount}</td>
                    <td>${item.cycles}</td>'
                    <td><image src="/images/${item.logo}" class="img" style="width: 200px; height: 200px" /></td>
                    <td><button class="btn btn-danger delete" id=${item.id}>Delete</button></td>
                    </tr>`
            })
            table += "</table>"
            $('#result').html(table)
        }

        refresh()
    </script>
</body>

</html>