<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Laundrybay - Laundry Business</title>
    <meta name="description" content="Laundrybay - Laundry Business">
    <meta name="keywords" content="">
    <meta name="author" content=""> 
	
	<!-- ==============================================
	Favicons
	=============================================== -->
	<link rel="shortcut icon" href="/js/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" href="/js/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/js/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/js/images/apple-touch-icon-114x114.png">
	
	<!-- ==============================================
	CSS
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="/js/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="/js/css/font-awesome.min.css">
	
	
	
	<!-- ==============================================
	Google Fonts
	=============================================== -->
	
	<link rel="stylesheet" type="text/css" href="/js/css/font.css" />
	
	<!-- Custom Stylesheet -->
	<link rel="stylesheet" type="text/css" href="/js/css/style.css" />
	
	
    <script type="text/javascript" src="/js/js/modernizr.min.js"></script>
	
	

</head>

<body>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-5185603243783709",
          enable_page_level_ads: true
     });
</script>	<!-- Load page -->
	<div class="animationload">
		<div class="loader"></div>
	</div>
	
	
	<!-- NAVBAR SECTION -->
	<div class="navbar navbar-main navbar-fixed-top">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
						<div class="info">
							<div class="info-item">
								<span class="fa fa-phone"></span> Phone  <a style="font-color:white" href="tel:+919644035102">+919644035102</a>, <a style="font-color:white" href="tel:+919109271234">+919109271234</a>
							</div>
							<div class="info-item">
								<span class="fa fa-envelope-o"></span> <a style="font-color:white" href="mailto:laundrybay.info@gmail.com" title="">Email laundrybay.info@gmail.com</a>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><img src="/js/images/logo_blue.png" alt="" /></a>
				
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
					  <a href="/" class="dropdown-toggle" data-toggle="" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
					</li>
					<li><a href="/about">About</a></li>
					<li><a href="/faq">FAQ</a></li>
					<li><a href="/contact">CONTACT</a></li>
					<li>
						<a href="https://exp-shell-app-assets.s3.us-west-1.amazonaws.com/android/%40abhishek0058/laundry-android-04dab2e310d641bdb561ae743d58d5ea-signed.apk">
							DOWNLOAD APP
						</a>
					</li>
				</ul>
			</div>
		</div>
    </div>

 
	<!-- BANNER -->
	<div class="section banner" >
		
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img src="/js/images/homeslide.jpg" alt="...">
					<div class="carousel-caption">
						<div class="container">
							<div class="wrap-caption">
								<div class="caption-heading">WE ARE THE BEST LAUNDRY SERVICES</div>
								<div class="caption-desc">&rarr; Now you don’t have to expose your favourate clothes to the harsh washing so they can remain as good as now.
								</div>
								<div class="caption-desc">&rarr; Don’t be dependent on others.  Do Laundry just by a click on your mobile app in your hostel.
								</div>
								
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<img src="/js/images/homeslide-2.jpg" alt="...">
					<div class="carousel-caption">
						<div class="container">
							<div class="wrap-caption">
								<div class="caption-heading">WE ARE EXPERT CLEANER</div>
								<div class="caption-desc">&rarr; Save time. Save water. Save planet.
								</div>
								<div class="caption-desc">&rarr; Dirty clothes? Waiting to meet your Girlfriend/Boyfriend? No problem. Now clean and dry your clothes in just 30 Min.
								</div>
						</div>
					</div>
				</div>

				

			</div>
			<div class="item">
					<img src="/js/images/homeslide-3.jpg" alt="...">
					<div class="carousel-caption">
						<div class="container">
							<div class="wrap-caption">
								<div class="caption-heading">WE ARE EXPERT CLEANER</div>
								<div class="caption-desc">&rarr; Now introducing for the first time. Automated washing machines in your hostel. Just download the laundry bay’ app and enjoy first wash free.
								</div>
								<div class="caption-desc" >&rarr; Laundry for as low as Rs.40/ wash (6kg load/10-12 regular clothes).
								</div>
						</div>
					</div>
				</div>

				

			</div>

			<!-- Controls -->
			<a class="left carousel-control" href="/js/#carousel-example-generic" role="button" data-slide="prev">
				<span class="fa fa-chevron-left" ></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="/js/#carousel-example-generic" role="button" data-slide="next">
				<span class="fa fa-chevron-right" ></span>
				<span class="sr-only">Next</span>
			</a>
		</div>

		<!-- END CAROUSEL -->
		
		<div class="work-info">
			<div class="container">
				<div class="work-info-item">
					<div class="work-info-icon">
						<span class="fa fa-phone"></span>
					</div>
					<div class="work-info-body">
						Have a question? call us now
						<div class="work-info-lead"> <a style="font-color:white" href="tel:+919644035102">+919644035102</a>, <a style="font-color:white" href="tel:+919109271234">+919109271234</a></div>
					</div>
				</div>
				<div class="work-info-item">
					<div class="work-info-icon">
						<span class="fa fa-clock-o"></span>
					</div>
					<div class="work-info-body">
						We are open Laundrybay
						<div class="work-info-lead">24x7</div>
					</div>
				</div>
				<div class="work-info-item">
					<div class="work-info-icon">
						<span class="fa fa-envelope"></span>
					</div>
					<div class="work-info-body">
						Need Support? Drop us an email
						<div class="work-info-lead"><a style="font-color:white" href="mailto://laundrybay.info@gmail.com" title="">laundrybay.info@gmail.com</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<!-- ABOUT SECTION -->
	<div class="section about">
		<div id="package"></div>
	</div>

	
	<!-- SERVICES SECTION -->
	<div class="section services">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="page-title">
						<h2 class="lead">OUR SERVICES</h2>
						<hr>
					</div>
				</div>
			</div>
			<br><br>
			<div class="row">
				<div class="col-sm-6  col-md-offset-6">
					<div class="services-item right">
						<div class="icon">
							<img src="/js/images/home-service-img-5.jpg" alt="" class="img-circle" />
						</div>
						<div class="ket">
							<h4>LAUNDRY MACHINES</h4>
							<p>Easy app operated washing machines at your hostel corridor.</p>
						</div>
					</div>
					<div class="services-item right">
						<div class="icon">
							<img src="/js/images/home-service-img-4.jpg" alt="" class="img-circle" />
						</div>
						<div class="ket">
							<h4>IRONING SERVICES</h4>
							<p>For ironing services at your doorstep please contact on <a style="font-color:white" href="tel:+919644035102">+919644035102</a>.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-6">
					<div class="services-item-image">
						<img src="/js/images/service_img_home2-u24208-fr.png" class="img-responsive" alt="" />
					</div>
				</div>
				
			</div>
			
		</div>
	</div>
		
	<!-- STATS SECTION FACTS --> 
	<div class="section stat-facts" style="background:url('/js/images/page_img-u24411-fr.png') no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover">
		<div class="bg-overlay">
			<div class="container">
			
					
					<div class="col-xs-12">
						<div class="stat-item">
							<div class="icon">
								<i class="fa fa-briefcase"></i>
							</div>
							<div class="stat-title">
								<h3 class="number">Expert cleaning services by LaundryBay</h3>
							<p>We are open 24x7</p>
							</div>	
						</div>
					</div>
					
			</div>
		</div>
	</div>
	<div class="section stat-facts"  style="background:url('/js/images/page_img-u24411-fr.png') no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover">
	<div class="bg-overlay" style="padding:2px;">
		
	</div>
	</div>
	<!-- FOOTER SECTION -->
	<div class="footer">
	
		<div class="f-desc">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<div class="footer-item">
							<div class="footer-logo">
								<img src="/js/images/flogo.png" alt="" />
							</div>
		<p>Now introducing for the first time. Automated washing machines in your hostel. Just download the laundry bay’
		app and enjoy first wash free.
<br>
<a href="/about">Read More.</a></p>
							<div class="footer-sosmed">
								
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<div class="footer-item">
							<div class="footer-title">
								<h4>Policies</h4>
							</div>
								<div class="footer-blog-item">
									<div class="footer-blog-lead">
										<a href="/privacypolicy" title="">Privacy Policy</a>
									</div>
								</div>
								<div class="footer-blog-item">
									<div class="footer-blog-lead">
										<a href="/refundpolicy" title="">Refund Policy</a>
									</div>
								</div>	
						</div>
							
						
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<div class="footer-item">
							<div class="footer-title">
								<h4>APP STORE DOWNLOAD</h4>
							</div>
							<div class="footer-form">
								<form action="#">
									<div class="form-group">
										<a target="_blank" href="https://play.google.com/store/apps/details?id=com.abhi.laundrybay&hl=en"><img src="/js/images/android.jpg"></a>
									</div>
									<!-- <div class="form-group">
										<a href="#"><img src="/js/images/iphone.jpg"></a>
									</div> -->
								
								</form>
							</div>
							
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<div class="footer-item">
							<div class="footer-title">
								<h4>GET IN TOUCH</h4>
							</div>
							<div class="footer-getintouch">
								<div class="footer-getintouch-item">
									<div class="icon">
										<b class="fa fa-phone"></b>
									</div>
									<div class="desc">
										<div class="desc-1">Phone</div>
										<div class="desc-2">:</div>
										<div class="desc-3"><a style="font-color:white" href="tel:+919644035102">+919644035102</a>, <a style="font-color:white" href="tel:+919109271234">+919109271234</a> </div>
									</div>
								</div>
								<div class="footer-getintouch-item">
									<div class="icon">
										<b class="fa fa-envelope "></b>
									</div>
									<div class="desc">
										<div class="desc-1">Email</div>
										<div class="desc-2">:</div>
										<div class="desc-3"><a style="font-color:white" href="mailto://laundrybay.info@gmail.com" title="">laundrybay.info@gmail.com</a></div>
									</div>
								</div>
								<div class="footer-getintouch-item">
									<div class="icon">
										<b class="fa fa-globe"></b>
									</div>
									<div class="desc">
										<div class="desc-1">Website </div>
										<div class="desc-2">:</div>
										<div class="desc-3">www.laundrybay.in</div>
									</div>
								</div>
								<div class="footer-getintouch-item">
									<div class="icon">
										<b class="fa fa-map-marker"></b>
									</div>
									<div class="desc">
										<div class="desc-1">Address </div>
										<div class="desc-2">:</div>
										<div class="desc-3">DH-15, Opposite Maharaja<br> Complex,Deendayal Nagar<br>Gwalior (M.P.) 474020</div>
									</div>
									
								</div>
								
							</div>
						</div>
						
					</div>
					
				</div>
			</div>
				
		</div>
		
		<div class="fcopy">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<p class="ftex">&copy; 2018 LaundryBay by Numeric Infosystem Pvt. Ltd. - All Rights Reserved</p> 
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
	
	
	
	<script type="text/javascript" src="/js/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/package.js"></script>
	<script type='text/javascript' src='/js/js/jqBootstrapValidation.js'></script>
	<script type="text/javascript" src="/js/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/js/bootstrap-hover-dropdown.min.js"></script>
	
	<script type="text/javascript" src="/js/js/script.js"></script>
	
</body>
</html>