<html>
  <head>
    <!-- start: Css -->
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="keyword" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/js/bootstrap.min.css" />
    <!-- plugins -->
    <script src="/admin/asset/js/jquery.min.js"></script>
    <!-- <script src="/js/purchese_history.js"></script> -->
    <script src="/admin/asset/js/jquery.ui.min.js"></script>
    <script src="/admin/asset/js/bootstrap.min.js"></script>
  </head>
  <script>
    var history = [];
    $.getJSON(`/purchaseHistory/userPurchasesDailyReport`, result => {
        showPurchaseHistory(result);
    });

    showPurchaseHistory = data => {

    var showHistory = `<table class='table table-bordered'>
        <thead>
        <th>S No.</th>
        <th>User Name</th>
        <th>Mobile Number</th>
        <th>Package Name</th>
        <th>Amount</th>
        </thead>`;
      $.each(data["result"], (i, item) => {
        showHistory += `<tr>
            <td>${i + 1}</td>
            <td>${item.user_name}</td>
            <td>${item.mobile}</td>
            <td>${item.name}</td>
            <td>${item.amount}</td>
        </tr>`;
      });
      $("#history_purchase").html(showHistory);
    };
  </script>
  <body>
    <div class="container">
      <h1>Daily Report</h1>
      <div class="row">
        <div id="history_purchase"></div>
      </div>
    </div>
  </body>
</html>
