<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
	<!-- Basic Page Needs
    ================================================== -->

	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Laundrybay - Laundry Business</title>
	<meta name="description" content="Laundrybay - Laundry Business">
	<meta name="keywords" content="">
	<meta name="author" content="">

	<!-- ==============================================
	Favicons
	=============================================== -->
	<link rel="shortcut icon" href="js/images/favicon.ico">
	<link rel="apple-touch-icon" href="/js/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/js/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/js/images/apple-touch-icon-114x114.png">

	<!-- ==============================================
	CSS
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="/js/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="/js/css/font-awesome.min.css">



	<!-- ==============================================
	Google Fonts
	=============================================== -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,700,900' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/js/css/font.css" />

	<!-- Custom Stylesheet -->
	<link rel="stylesheet" type="text/css" href="/js/css/style.css" />


	<script type="text/javascript" src="/js/js/modernizr.min.js"></script>

</head>

<body>

	<!-- Load page -->
	<div class="animationload">
		<div class="loader"></div>
	</div>


	<!-- NAVBAR SECTION -->
	<div class="navbar navbar-main navbar-fixed-top">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
						<div class="info">
							<div class="info-item">
								<span class="fa fa-phone"></span> Phone +91 9644035102, 9109271234
							</div>
							<div class="info-item">
								<span class="fa fa-envelope-o"></span>  <a href="mailto:laundrybay.info@gmail.com" title="">Email laundrybay.info@gmail.com</a>
							</div>

						</div>
					</div>
					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
						<div class="top-sosmed pull-right" style="margin-top:0px;">
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><img src="js/images/logo_blue.png" alt="" /></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/">Home</a></li>
					<li class="active"><a href="/about">ABOUT</a></li>
					<li><a href="/faq">FAQ</a></li>
					<li><a href="/contact">CONTACT</a></li>
				</ul>
			</div>
		</div>
	</div>


	<!-- BANNER ROTATOR -->
	<div class="section subbanner" style="background:url('/js/images/slide_page.jpg') no-repeat center center;   -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="caption">
						<h3>About Us</h3>

					</div>
				</div>
			</div>
		</div>

	</div>


	<!-- ABOUT SECTION -->
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="page-title">
						<h2 class="lead">WELCOME TO LAUNDRYBAY</h2>

					</div>
				</div>
			</div>

			<div class="row">

				<div class="col-xs-12 col-md-6">
					<div class="about-img">
						<img src="/js/images/about_history-u24541-fr.jpg" alt="" class="img-thumbnail" />
					</div>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="about-wrap">
						<h4 class="title-page">About US</h4>
						<p class="sublead">LoundryBay, the newest concept of laundry in India.
							Now students can save their time and money by doing laundry inside their hostel itself. Almost all of us have
							experienced the hostel life during our college Days. Dirty and messy clothes are a big trouble for hostel
							students. So, we came up with this concept of providing automated washing machines in your hostel itself. Now
							you can clean your laundry at your desired time and ease.

						</p>
						<p>We love our favorite clothes and it hurts to see them getting spoiled by the harsh washing and harsh
							detergents used by outside laundries or dhobis. In LaundryBay, you can choose your own detergent according to
							your clothes. So, your clothes remain as good as new and it is extremely affordable. What makes us unique? we
							provide a self – serviced laundry at your hostel by using latest and high-quality automated washing machines
							which can be operated by your smartphone. Since the price of washing is very cheap and affordable, students can
							do their Laundry on a daily basis.
							.</p>
						<p>The inception of this company is done by two doctors who found this laundry problem during 8 years of their
							hostel life. Finally, LaundryBay has solved this problem for all of the youth. Since we are a new and a growing
							startup, we are open to your ideas | complaints | feedback. Kindly feel free to contact us at your ease. Looking
							forward for your cooperation and support
							.</p>
					</div>
				</div>
				<div class="clearfix"></div>

			</div>

		</div>
	</div>



	<!-- STATS SECTION FACTS -->
	<div class="section stat-facts" style="background:url('/js/images/page_img-u24411-fr.png') no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover">
		<div class="bg-overlay" style="padding:2px;">

		</div>
	</div>

	<!-- FOOTER SECTION -->
	<div class="footer">

		<div class="f-desc">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<div class="footer-item">
							<div class="footer-logo">
								<img src="/js/images/flogo.png" alt="" />
							</div>
<p>Now introducing for the first time. Automated washing machines in your hostel. Just download the laundry bay’
	app and enjoy first wash free.
								<br>
								<a href="/about">Read More.</a></p>
							<div class="footer-sosmed">

							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="footer-item">
                            <div class="footer-title">
                                <h4>Policies</h4>
                            </div>
                            <div class="footer-blog-item">
									<div class="footer-blog-lead">
										<a href="/privacypolicy" title="">Privacy Policy</a>
									</div>
							</div>
                            <div class="footer-blog-item">
                                <div class="footer-blog-lead">
                                    <a href="/refundpolicy" title="">Refund Policy</a>
                                </div>
                            </div>	
                            
                        </div>
                    </div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<div class="footer-item">
							<div class="footer-title">
								<h4>APP STORE DOWNLOAD</h4>
							</div>
							<div class="footer-form">
								<form action="#">
									<div class="form-group">
										<a target="_blank" href="https://play.google.com/store/apps/details?id=com.numeric.laundrybay"><img src="/js/images/android.jpg"></a>
									</div>
									<!-- <div class="form-group">
										<a href="#"><img src="/js/images/iphone.jpg"></a>
									</div> -->
								</form>
							</div>

						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<div class="footer-item">
							<div class="footer-title">
								<h4>GET IN TOUCH</h4>
							</div>
							<div class="footer-getintouch">
								<div class="footer-getintouch-item">
									<div class="icon">
										<b class="fa fa-phone"></b>
									</div>
									<div class="desc">
										<div class="desc-1">Phone</div>
										<div class="desc-2">:</div>
										<div class="desc-3">+91 9644035102, 9109271234 </div>
									</div>
								</div>
								<div class="footer-getintouch-item">
									<div class="icon">
										<b class="fa fa-envelope "></b>
									</div>
									<div class="desc">
										<div class="desc-1">Email</div>
										<div class="desc-2">:</div>
										<div class="desc-3"><a href="mailto://laundrybay.info@gmail.com" title="">laundrybay.info@gmail.com</a></div>
									</div>
								</div>
								<div class="footer-getintouch-item">
									<div class="icon">
										<b class="fa fa-globe"></b>
									</div>
									<div class="desc">
										<div class="desc-1">Website </div>
										<div class="desc-2">:</div>
										<div class="desc-3">www.laundrybay.in</div>
									</div>
								</div>
								<div class="footer-getintouch-item">
									<div class="icon">
										<b class="fa fa-map-marker"></b>
									</div>
									<div class="desc">
										<div class="desc-1">Address </div>
										<div class="desc-2">:</div>
										<div class="desc-3">DH-15, Opposite Maharaja<br> Complex,Deendayal Nagar<br>Gwalior (M.P.) 474020</div>
									</div>

								</div>

							</div>
						</div>

					</div>

				</div>
			</div>

		</div>

		<div class="fcopy">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<p class="ftex">&copy; 2018 LaundryBay by Numeric Infosystem Pvt. Ltd. - All Rights Reserved</p> 
					</div>
				</div>
			</div>
		</div>

	</div>




	<script type="text/javascript" src="/js/js/jquery.min.js"></script>

	<script type='text/javascript' src='/js/js/jqBootstrapValidation.js'></script>
	<script type="text/javascript" src="/js/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/js/bootstrap-hover-dropdown.min.js"></script>

	<script type="text/javascript" src="/js/js/script.js"></script>

</body>

</html>