<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <!-- Basic Page Needs
    ================================================== -->

    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Laundrybay - Laundry Business</title>
    <meta name="description" content="Laundrybay - Laundry Business">
    <meta name="keywords" content="">
    <meta name="author" content=""> 
	
	<!-- ==============================================
	Favicons
	=============================================== -->
	<link rel="shortcut icon" href="js/images/favicon.ico">
	<link rel="apple-touch-icon" href="/js/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/js/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/js/images/apple-touch-icon-114x114.png">
	
	<!-- ==============================================
	CSS
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="/js/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="/js/css/font-awesome.min.css">
	
	
	
	<!-- ==============================================
	Google Fonts
	=============================================== -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,700,900' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/js/css/font.css" />
	
	<!-- Custom Stylesheet -->
	<link rel="stylesheet" type="text/css" href="/js/css/style.css" />
	
	
    <script type="text/javascript" src="/js/js/modernizr.min.js"></script>
	
</head>

<body>
	
	<!-- Load page -->
	<div class="animationload">
		<div class="loader"></div>
	</div>
	
	
	<!-- NAVBAR SECTION -->
	<div class="navbar navbar-main navbar-fixed-top">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
						<div class="info">
							<div class="info-item">
								<span class="fa fa-phone"></span> Phone +91 9644035102, 9109271234
							</div>
							<div class="info-item">
								<span class="fa fa-envelope-o"></span> <a href="" title="">Email info@laundrybay.in</a>
							</div>
							
						</div>
					</div>
					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
						<div class="top-sosmed pull-right" style="margin-top:0px;">
					<!-- <?php 
					session_start();
				if(!isset($_SESSION['username'])){
					echo '<a href="/index.php/User_ctrl/showlogin"><button type="submit" class="btn btn-default" style="pointer-events: all; cursor: pointer;"><span class="fa fa-lock"></span>Login</button></a>

	<a href="/index.php/User_ctrl/"><button type="submit" class="btn btn-default" style="pointer-events: all; cursor: pointer;"><span class="fa fa-pencil"></span>Registration</button></a>';
				}			
				else{
				echo '<a href="/index.php/User_ctrl/logout"><button type="submit" class="btn btn-default" style="pointer-events: all; cursor: pointer;"><span class="fa fa-users"></span>'.$_SESSION['name'].' (logout)</button></a>';	
				}
						
		  	

				?> -->
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><img src="js/images/logo_blue.png" alt="" /></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/about">ABOUT</a></li>
					<li><a href="/services">SERVICES</a></li>
                    <li><a href="/pricing">PRICING</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/blog">BLOG</a></li>
					<li><a href="/contact">CONTACT</a></li>
				</ul>
			</div>
		</div>
    </div>

 
	<!-- BANNER ROTATOR -->
	<div class="section subbanner"  style="background:url('/js/images/slide_page.jpg') no-repeat center center;   -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover">
		<div class="container" >
			<div class="row">
				<div class="col-xs-12"  >
					<div class="caption">
						<h3>About Us</h3>
						
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
	
	<!-- ABOUT SECTION -->
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="page-title">
						<h2 class="lead">WELCOME TO LAUNDRYBAY</h2>
						<p class="sublead">LoundryBay, the newest concept of laundry in India.
Now students can save their time and money by Doing
</p>
					</div>
				</div>
			</div>
			
			<div class="row">
			
				<div class="col-xs-12 col-md-6">
					<div class="about-img">
						<img src="/js/images/about_history-u24541-fr.jpg" alt="" class="img-thumbnail" />
					</div>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="about-wrap">
						<h4 class="title-page">About US</h4>
<p>Laundry inside their hostel it self
All of us expenenu the hostel life during our college 
Days. Dirty and messy clothes are a big trouble for 
Hostel  students. So we came up with this concept of 
Providing  automated  washing  machines in your hotel 
Itself. Now you can clean your laundry in your Desired time and ease.

</p>
<p>We love our  favourite clothes and it hurts to see them 
Getting spoiled by the harsh washing and harsh detergents 
Used by outside laundries | dhobis. In laundry bay, you 
Can choose your own detergent according to your 
Clothes. So your clothes remain as good as new 
Exlremly affordable 
What makes us unique ? we provide an self – serviced h
Laundry at your hostel by using latest and high 
Quality automated washing machines which cam be operated 
By your smartphone. Since the price of washing is 
Very cheap and affordable, students can do their 
Laundry on a daily basis
.</p>
<p>The inception of  this company is done by two 
Doctors who faud this laundry problem during 8 years 
Of their hostel life. Finally, Laundry bay has solved 
This problem for all of youth. 
Since we are a new and a qrowing startup, we are 
Very open to your ideas | complaints | feedback. Kindly 
Feel free to contact us at your ease. 
Loolcing  forword for your cooperation and support 
.</p>
					</div>
				</div>
				<div class="clearfix"></div>
			
			</div>
			
		</div>
	</div>
	
	
	
	<!-- STATS SECTION FACTS --> 
	<div class="section stat-facts"  style="background:url('/js/images/page_img-u24411-fr.png') no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover">
		<div class="bg-overlay" style="padding:2px;">
			
		</div>
	</div>
	
	
	<!-- 
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="page-title">
						<h2 class="lead">MEET OUR FOUNDERS</h2>
						<p class="sublead">This template is designed with a unique and simple, so that it can promote and laundry business solution.</p>
					</div>
				</div>
			</div>
			
			<div class="row pbot-main">
			
				<div class="col-xs-12 col-md-3">
					<img src="/js/images/4-u29022-fr.jpg" alt="" class="img-responsive" />
					<div class="founder-box">
						<h4 class="title-page">BOKEER DOEL</h4>
						<p>CEO / Founder Company</p>
					</div>
				</div>
				<div class="col-xs-12 col-md-9">
					<div class="about-wrap">
						<h4 class="title-page">WHO IS LAUNDRYBAY?</h4>
						<p>This template is a micro niche for business categories, namely laundry business. there was an excess of this template is using adobe muse making it easier to edit, add content, and without having to use the coding in the edit.</p>
						<p>This template is designed with a unique and simple, so that it can promote and laundry business solution. This template can be an alternative for entrepreneurs engaged in the laundry. or could be an alternative for web developers who need to design websites laundry kategory business.</p>
						<p>As for the advantages of this template is multipage template which consists of a homepage, about page, services page, pricing page, faq page, blog and contact page. so that it can describe all the requirements needed for a business website.</p>
					</div>
				</div>
				
			</div>
			
		</div>
	</div> -->
	
	
	
	<!-- STATS SECTION CLIENT --> 
	
	
	<!-- FOOTER SECTION -->
	<div class="footer">
	
		<div class="f-desc">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<div class="footer-item">
							<div class="footer-logo">
								<img src="/js/images/flogo.png" alt="" />
							</div>
							<p>Laundry inside their hostel it self
All of us expenenu the hostel life during our college 
Days. Dirty and messy clothes are a big trouble for 
Hostel  students. 
<br>
<a href="/index.php/user_ctrl/about">Read More.</a></p>
							<div class="footer-sosmed">
								
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<div class="footer-item">
							<div class="footer-title">
								<h4>SOCIAL</h4>
							</div>
							
								<div class="footer-sosmed">
								<a href="https://www.facebook.com/" target="blank" title="">
									<div class="item">
										<i class="fa fa-facebook"></i>
									</div>
								</a>
								
								<a href="https://www.gmail.com/" target="blank" title="">
									<div class="item">
										<i class="fa fa-google"></i>
									</div>
								</a>
								
								<a href="https://www.youtube.com/" target="blank" title="">
									<div class="item">
										<i class="fa fa-youtube"></i>
									</div>
								</a> 
							</div>
							</div>
							
						
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<div class="footer-item">
							<div class="footer-title">
								<h4>APP STORE DOWNLOAD</h4>
							</div>
							<div class="footer-form">
								<form action="#">
									<div class="form-group">
										<a href="#"><img src="/js/images/android.jpg"></a>
									</div>
									<div class="form-group">
										<a href="#"><img src="/js/images/iphone.jpg"></a>
									</div>
								
								</form>
							</div>
							
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<div class="footer-item">
							<div class="footer-title">
								<h4>GET IN TOUCH</h4>
							</div>
							<div class="footer-getintouch">
								<div class="footer-getintouch-item">
									<div class="icon">
										<b class="fa fa-phone"></b>
									</div>
									<div class="desc">
										<div class="desc-1">Phone</div>
										<div class="desc-2">:</div>
										<div class="desc-3">+91 9644035102, 9109271234 </div>
									</div>
								</div>
								<div class="footer-getintouch-item">
									<div class="icon">
										<b class="fa fa-envelope "></b>
									</div>
									<div class="desc">
										<div class="desc-1">Email</div>
										<div class="desc-2">:</div>
										<div class="desc-3"><a href="/js/mailto:support@laundryes.com" title="">support@laundrybay.in</a></div>
									</div>
								</div>
								<div class="footer-getintouch-item">
									<div class="icon">
										<b class="fa fa-globe"></b>
									</div>
									<div class="desc">
										<div class="desc-1">Website </div>
										<div class="desc-2">:</div>
										<div class="desc-3">www.laundrybay.in</div>
									</div>
								</div>
								<div class="footer-getintouch-item">
									<div class="icon">
										<b class="fa fa-map-marker"></b>
									</div>
									<div class="desc">
										<div class="desc-1">Address </div>
										<div class="desc-2">:</div>
										<div class="desc-3">DH-15, Opposite Maharaja<br> Complex,Deendayal Nagar<br>Gwalior (M.P.) 474020</div>
									</div>
									
								</div>
								
							</div>
						</div>
						
					</div>
					
				</div>
			</div>
				
		</div>
		
		<div class="fcopy">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<p class="ftex">&copy; 2017 Laundrybay by Numeric - All Rights Reserved</p> 
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
	
	
	
	<script type="text/javascript" src="/js/js/jquery.min.js"></script>
	
	<script type='text/javascript' src='/js/js/jqBootstrapValidation.js'></script>
	<script type="text/javascript" src="/js/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/js/bootstrap-hover-dropdown.min.js"></script>
	
	<script type="text/javascript" src="/js/js/script.js"></script>
	
</body>
</html>