<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <!-- Basic Page Needs
    ================================================== -->

    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Laundrybay - Laundry Business</title>
    <meta name="description" content="Laundrybay - Laundry Business">
    <meta name="keywords" content="">
    <meta name="author" content=""> 
	
	<!-- ==============================================
	Favicons
	=============================================== -->
	<link rel="shortcut icon" href="js/images/favicon.ico">
	<link rel="apple-touch-icon" href="/js/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/js/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/js/images/apple-touch-icon-114x114.png">
	
	<!-- ==============================================
	CSS
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="/js/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="/js/css/font-awesome.min.css">
	
	
	
	<!-- ==============================================
	Google Fonts
	=============================================== -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,700,900' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/js/css/font.css" />
	
	<!-- Custom Stylesheet -->
	<link rel="stylesheet" type="text/css" href="/js/css/style.css" />
	
	
    <script type="text/javascript" src="/js/js/modernizr.min.js"></script>
	
</head>

<body>
	
	<!-- Load page -->
	<div class="animationload">
		<div class="loader"></div>
	</div>
	
	
	<!-- NAVBAR SECTION -->
	<div class="navbar navbar-main navbar-fixed-top">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
						<div class="info">
							<div class="info-item">
								<span class="fa fa-phone"></span> Phone +91 9644035102, 9109271234
							</div>
							<div class="info-item">
								<span class="fa fa-envelope-o"></span> <a href="mailto:laundrybay.info@gmail.com" title="">Email laundrybay.info@gmail.com</a>
							</div>
							
						</div>
					</div>
					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
						<div class="top-sosmed pull-right" style="margin-top:0px;">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><img src="js/images/logo_blue.png" alt="" /></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/">Home</a></li>
					<li><a href="/about">ABOUT</a></li>
          <li class="active"><a href="/faq">FAQ</a></li>
					<li><a href="/contact">CONTACT</a></li>
				</ul>
			</div>
		</div>
    </div>

 
	<!-- BANNER ROTATOR -->
	<div class="section subbanner"  style="background:url('/js/images/slide_page.jpg') no-repeat center center;   -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover">
		<div class="container" >
			<div class="row">
				<div class="col-xs-12"  >
					<div class="caption">
						<h3>FAQ</h3>
						
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
	
	<!-- ABOUT SECTION -->
	<div id="services" class="section services">
		<div class="container">
			<!--  -->
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="page-title">
						<h2 class="lead">HOW IT WORKS</h2>
<hr>
<center>
<img src="/js/images/howitwork.png" class="img-responsive">
		</center>			</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="page-title">
						<h2 class="lead">F.A.Q</h2>
						<hr>
						
							</div>
				</div>
			</div>
			
			
			<div class="row">
			
				<div class="col-sm-12 col-md-4">
					<div class="faq-item-image">
						<img src="/js/images/service_img_home.png" class="img-responsive" alt="">
					</div>
				</div>
				<div class="col-sm-12 col-md-8">
					<div class="panel-group panel-faq" id="accordion" role="tablist" aria-multiselectable="true">
					  <div class="panel panel-default">
						<div class="panel-heading active" role="tab" id="heading1">
						  <h4 class="panel-title">
							<a role="button" class="active" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
							 Q1. What happens if you or notable to activate your washing machine?
							</a>
						  </h4>
						</div>
						<div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
						  <div class="panel-body">
							<p style="color:black; font-weight:600;">Ans. I simple mcons that cither your machine is busy or water/power is not available.</p>
						  </div>
						</div>
					  </div>
					  <div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading2">
						  <h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
							  Q2. What happens if power/water supply failure happens during the wash cycle?
							</a>
						  </h4>
						</div>
						<div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
						  <div class="panel-body">
							<p style="color:black; font-weight:600;">Ans. Don’t worry machine will automatically resume the wash cycle when power/water supply is restored.</p>
							
						  </div>
						</div>
					  </div>
					  <div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading3">
						  <h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
							  Q3. What happens if your balance I chk deducted and your washing machine is not activated?
							</a>
						  </h4>
						</div>
						<div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
						  <div class="panel-body">
							<p style="color:black; font-weight:600;">Ans. In such a case, your deducted balance will be refunded fed free to contact us.</p>
							 </div>
						</div>
					  </div>
					  <div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading4">
						  <h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
							  Q4. What happens if you overload the washing machine?
							</a>
						  </h4>
						</div>
						<div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
						  <div class="panel-body">
							<p style="color:black; font-weight:600;">Ans. Firstly, do not overload the machine. It may deteriorate the quality of wash and may damage your clothes or the wash cycle may not process at all</p>
							  </div>
						</div>
					  </div>
					  <div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading5">
						  <h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
							  Q5. What happens when your wash cycle is finished?
							</a>
						  </h4>
						</div>
						<div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
						  <div class="panel-body">
							<p style="color:black; font-weight:600;">Ans. The washing machine will start buzzing and you will receive a notification on your phone about the same.</p>
							  </div>
						</div>
					  </div>
					
					</div>

				</div>
				
			</div>
			
			
		</div>
	</div>
	<div class="section stat-facts"  style="background:url('/js/images/page_img-u24411-fr.png') no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover">
		<div class="bg-overlay" style="padding:2px;">
			
		</div>
	</div>
	<!-- FOOTER SECTION -->
	<div class="footer">
	
		<div class="f-desc">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<div class="footer-item">
							<div class="footer-logo">
								<img src="/js/images/flogo.png" alt="" />
							</div>
							<p>Laundry inside their hostel it self
All of us expenenu the hostel life during our college 
Days. Dirty and messy clothes are a big trouble for 
Hostel  students. 
<br>
<a href="/about">Read More.</a></p>
							<div class="footer-sosmed">
								
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="footer-item">
                            <div class="footer-title">
                                <h4>Policies</h4>
                            </div>
                            <div class="footer-blog-item">
									<div class="footer-blog-lead">
										<a href="/privacypolicy" title="">Privacy Policy</a>
									</div>
							</div>
                            <div class="footer-blog-item">
                                <div class="footer-blog-lead">
                                    <a href="/refundpolicy" title="">Refund Policy</a>
                                </div>
                            </div>	
                            
                        </div>
                    </div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<div class="footer-item">
							<div class="footer-title">
								<h4>APP STORE DOWNLOAD</h4>
							</div>
							<div class="footer-form">
								<form action="#">
									<div class="form-group">
										<a target="_blank" href="https://play.google.com/store/apps/details?id=com.numeric.laundrybay"><img src="/js/images/android.jpg"></a>
									</div>
									<!-- <div class="form-group">
										<a href="#"><img src="/js/images/iphone.jpg"></a>
									</div> -->
								
								</form>
							</div>
							
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<div class="footer-item">
							<div class="footer-title">
								<h4>GET IN TOUCH</h4>
							</div>
							<div class="footer-getintouch">
								<div class="footer-getintouch-item">
									<div class="icon">
										<b class="fa fa-phone"></b>
									</div>
									<div class="desc">
										<div class="desc-1">Phone</div>
										<div class="desc-2">:</div>
										<div class="desc-3">+91 9644035102, 9109271234 </div>
									</div>
								</div>
								<div class="footer-getintouch-item">
									<div class="icon">
										<b class="fa fa-envelope "></b>
									</div>
									<div class="desc">
										<div class="desc-1">Email</div>
										<div class="desc-2">:</div>
										<div class="desc-3"><a href="mailto://laundrybay.info@gmail.com" title="">laundrybay.info@gmail.com</a></div>
									</div>
								</div>
								<div class="footer-getintouch-item">
									<div class="icon">
										<b class="fa fa-globe"></b>
									</div>
									<div class="desc">
										<div class="desc-1">Website </div>
										<div class="desc-2">:</div>
										<div class="desc-3">www.laundrybay.in</div>
									</div>
								</div>
								<div class="footer-getintouch-item">
									<div class="icon">
										<b class="fa fa-map-marker"></b>
									</div>
									<div class="desc">
										<div class="desc-1">Address </div>
										<div class="desc-2">:</div>
										<div class="desc-3">DH-15, Opposite Maharaja<br> Complex,Deendayal Nagar<br>Gwalior (M.P.) 474020</div>
									</div>
									
								</div>
								
							</div>
						</div>
						
					</div>
					
				</div>
			</div>
				
		</div>
		
		<div class="fcopy">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<p class="ftex">&copy; 2018 Laundrybay by Numeric - All Rights Reserved</p> 
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<script type="text/javascript" src="/js/js/jquery.min.js"></script>
	
	<script type='text/javascript' src='/js/js/jqBootstrapValidation.js'></script>
	<script type="text/javascript" src="/js/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/js/bootstrap-hover-dropdown.min.js"></script>
	
	<script type="text/javascript" src="/js/js/script.js"></script>
	
</body>
</html>