<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <!-- Basic Page Needs
    ================================================== -->

    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Laundrybay - Laundry Business</title>
    <meta name="description" content="Laundrybay - Laundry Business">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <!-- ==============================================
	Favicons
	=============================================== -->
    <link rel="shortcut icon" href="js/images/favicon.ico">
    <link rel="apple-touch-icon" href="/js/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/js/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/js/images/apple-touch-icon-114x114.png">

    <!-- ==============================================
	CSS
	=============================================== -->
    <link rel="stylesheet" type="text/css" href="/js/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/js/css/font-awesome.min.css">



    <!-- ==============================================
	Google Fonts
	=============================================== -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/js/css/font.css" />

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/js/css/style.css" />


    <script type="text/javascript" src="/js/js/modernizr.min.js"></script>

</head>

<body>

    <!-- Load page -->
    <div class="animationload">
        <div class="loader"></div>
    </div>


    <!-- NAVBAR SECTION -->
    <div class="navbar navbar-main navbar-fixed-top">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                        <div class="info">
                            <div class="info-item">
                                <span class="fa fa-phone"></span> Phone +91 9644035102, 9109271234
                            </div>
                            <div class="info-item">
                                <span class="fa fa-envelope-o"></span>  <a href="mailto:laundrybay.info@gmail.com" title="">Email laundrybay.info@gmail.com</a>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                        <div class="top-sosmed pull-right" style="margin-top:0px;">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="js/images/logo_blue.png" alt="" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </div>


    <!-- BANNER ROTATOR -->
    <div class="section subbanner" style="background:url('/js/images/slide_page.jpg') no-repeat center center;   -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="caption">
                        <h3>Privacy Policy</h3>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
<div id="wrap">


    <div class="header">
        <div class="container">
            
                <div class="col-md-12">
<br><br>                    <h1>
                       Halcyon Laundries Private Limited
                    </h1>
                    <p>
                        Privacy Policy of http://www.laundrybay.in
                    </p>
                </div>
            </div>
    
    </div>

    <div class="policy">
        <div class="container">
            
                <div class="col-md-12">

                                                                        <div class="content">
                                <h1>Privacy Policy</h1>


<p>Effective date: December 28, 2018</p>


<p>Halcyon Laundries Private Limited ("us", "we", or "our") operates the http://www.laundrybay.in website and the LaundryBay mobile application (the "Service").</p>

<p>This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data.</p>

<p>We use your data to provide and improve the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions.</p>


<h2>Information Collection And Use</h2>

<p>We collect several different types of information for various purposes to provide and improve our Service to you.</p>

<h3>Types of Data Collected</h3>

<h4>Personal Data</h4>

<p>While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you ("Personal Data"). Personally identifiable information may include, but is not limited to:</p>

<ul>
<li>Email address</li><li>First name and last name</li><li>Phone number</li><li>Cookies and Usage Data</li>
</ul>

<h4>Usage Data</h4>

<p>We may also collect information that your browser sends whenever you visit our Service or when you access the Service by or through a mobile device ("Usage Data").</p>
<p>This Usage Data may include information such as your computer's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.</p>
<p>When you access the Service by or through a mobile device, this Usage Data may include information such as the type of mobile device you use, your mobile device unique ID, the IP address of your mobile device, your mobile operating system, the type of mobile Internet browser you use, unique device identifiers and other diagnostic data.</p>

<h4>Tracking &amp; Cookies Data</h4>
<p>We use cookies and similar tracking technologies to track the activity on our Service and hold certain information.</p>
<p>Cookies are files with small amount of data which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your device. Tracking technologies also used are beacons, tags, and scripts to collect and track information and to improve and analyze our Service.</p>
<p>You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.</p>
<p>Examples of Cookies we use:</p>
<ul>
    <li><strong>Session Cookies.</strong> We use Session Cookies to operate our Service.</li>
    <li><strong>Preference Cookies.</strong> We use Preference Cookies to remember your preferences and various settings.</li>
    <li><strong>Security Cookies.</strong> We use Security Cookies for security purposes.</li>
</ul>

<h2>Use of Data</h2>

<p>Halcyon Laundries Private Limited uses the collected data for various purposes:</p>
<ul>
    <li>To provide and maintain the Service</li>
    <li>To notify you about changes to our Service</li>
    <li>To allow you to participate in interactive features of our Service when you choose to do so</li>
    <li>To provide customer care and support</li>
    <li>To provide analysis or valuable information so that we can improve the Service</li>
    <li>To monitor the usage of the Service</li>
    <li>To detect, prevent and address technical issues</li>
</ul>

<h2>Transfer Of Data</h2>
<p>Your information, including Personal Data, may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.</p>
<p>If you are located outside India and choose to provide information to us, please note that we transfer the data, including Personal Data, to India and process it there.</p>
<p>Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.</p>
<p>Halcyon Laundries Private Limited will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of your data and other personal information.</p>

<h2>Disclosure Of Data</h2>

<h3>Legal Requirements</h3>
<p>Halcyon Laundries Private Limited may disclose your Personal Data in the good faith belief that such action is necessary to:</p>
<ul>
    <li>To comply with a legal obligation</li>
    <li>To protect and defend the rights or property of Halcyon Laundries Private Limited</li>
    <li>To prevent or investigate possible wrongdoing in connection with the Service</li>
    <li>To protect the personal safety of users of the Service or the public</li>
    <li>To protect against legal liability</li>
</ul>

<h2>Security Of Data</h2>
<p>The security of your data is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Data, we cannot guarantee its absolute security.</p>

<h2>Service Providers</h2>
<p>We may employ third party companies and individuals to facilitate our Service ("Service Providers"), to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service is used.</p>
<p>These third parties have access to your Personal Data only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.</p>

<h3>Analytics</h3>
<p>We may use third-party Service Providers to monitor and analyze the use of our Service.</p>
<ul>
        <li>
        <p><strong>Google Analytics</strong></p>
        <p>Google Analytics is a web analytics service offered by Google that tracks and reports website traffic. Google uses the data collected to track and monitor the use of our Service. This data is shared with other Google services. Google may use the collected data to contextualize and personalize the ads of its own advertising network.</p>
        </li>
</ul>


<h2>Links To Other Sites</h2>
<p>Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.</p>
<p>We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>


<h2>Children's Privacy</h2>
<p>Our Service does not address anyone under the age of 18 ("Children").</p>
<p>We do not knowingly collect personally identifiable information from anyone under the age of 18. If you are a parent or guardian and you are aware that your Children has provided us with Personal Data, please contact us. If we become aware that we have collected Personal Data from children without verification of parental consent, we take steps to remove that information from our servers.</p>


<h2>Changes To This Privacy Policy</h2>
<p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>
<p>We will let you know via email and/or a prominent notice on our Service, prior to the change becoming effective and update the "effective date" at the top of this Privacy Policy.</p>
<p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>


<h2>Contact Us</h2>
<p>If you have any questions about this Privacy Policy, please contact us:</p>
<ul>
        <li>By email: laundrybay.info@gmail.com</li>

        </ul>                            </div>

                </div>
            </div>
        </div>
    </div>








    <!-- STATS SECTION FACTS -->
    <div class="section stat-facts" style="background:url('/js/images/page_img-u24411-fr.png') no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover">
        <div class="bg-overlay" style="padding:2px;">

        </div>
    </div>

    <!-- FOOTER SECTION -->
    <div class="footer">

        <div class="f-desc">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="footer-item">
                            <div class="footer-logo">
                                <img src="/js/images/flogo.png" alt="" />
                            </div>
                            <p>Laundry inside their hostel it self
                                All of us expenenu the hostel life during our college
                                days. Dirty and messy clothes are a big trouble for
                                Hostel students.
                                <br>
                                <a href="/about">Read More.</a></p>
                            <div class="footer-sosmed">

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="footer-item">
                            <div class="footer-title">
                                <h4>Policies</h4>
                            </div>
                            <div class="footer-blog-item">
									<div class="footer-blog-lead">
										<a href="/privacypolicy" title="">Privacy Policy</a>
									</div>
							</div>
                            <div class="footer-blog-item">
                                <div class="footer-blog-lead">
                                    <a href="/refundpolicy" title="">Refund Policy</a>
                                </div>
                            </div>	
                            
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="footer-item">
                            <div class="footer-title">
                                <h4>APP STORE DOWNLOAD</h4>
                            </div>
                            <div class="footer-form">
                                <form action="#">
                                    <div class="form-group">
                                        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.numeric.laundrybay"><img src="/js/images/android.jpg"></a>
                                    </div>
                                    <!-- <div class="form-group">
                                        <a href="#"><img src="/js/images/iphone.jpg"></a>
                                    </div> -->

                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="footer-item">
                            <div class="footer-title">
                                <h4>GET IN TOUCH</h4>
                            </div>
                            <div class="footer-getintouch">
                                <div class="footer-getintouch-item">
                                    <div class="icon">
                                        <b class="fa fa-phone"></b>
                                    </div>
                                    <div class="desc">
                                        <div class="desc-1">Phone</div>
                                        <div class="desc-2">:</div>
                                        <div class="desc-3">+91 9644035102, 9109271234 </div>
                                    </div>
                                </div>
                                
                               <div class="footer-getintouch-item">
									<div class="icon">
										<b class="fa fa-envelope "></b>
									</div>
									<div class="desc">
										<div class="desc-1">Email</div>
										<div class="desc-2">:</div>
										<div class="desc-3"><a href="mailto://laundrybay.info@gmail.com" title="">laundrybay.info@gmail.com</a></div>
									</div>
								</div>
                                <div class="footer-getintouch-item">
                                    <div class="icon">
                                        <b class="fa fa-map-marker"></b>
                                    </div>
                                    <div class="desc">
                                        <div class="desc-1">Address </div>
                                        <div class="desc-2">:</div>
                                        <div class="desc-3">DH-15, Opposite Maharaja<br> Complex,Deendayal Nagar<br>Gwalior
                                            (M.P.) 474020</div>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <div class="fcopy">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="ftex">&copy; 2018 Laundrybay by Numeric - All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="/js/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.freeprivacypolicy.com/assets//js/scripts.min.js?v=1545340942"></script>
    <script type='text/javascript' src='/js/js/jqBootstrapValidation.js'></script>
    <script type="text/javascript" src="/js/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/js/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="/js/js/script.js"></script>

</body>

</html>