<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <!-- Basic Page Needs
    ================================================== -->

    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Laundrybay - Laundry Business</title>
    <meta name="description" content="Laundrybay - Laundry Business">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <!-- ==============================================
	Favicons
	=============================================== -->
    <link rel="shortcut icon" href="js/images/favicon.ico">
    <link rel="apple-touch-icon" href="/js/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/js/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/js/images/apple-touch-icon-114x114.png">

    <!-- ==============================================
	CSS
	=============================================== -->
    <link rel="stylesheet" type="text/css" href="/js/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/js/css/font-awesome.min.css">



    <!-- ==============================================
	Google Fonts
	=============================================== -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/js/css/font.css" />

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/js/css/style.css" />


    <script type="text/javascript" src="/js/js/modernizr.min.js"></script>

</head>

<body>

    <!-- Load page -->
    <div class="animationload">
        <div class="loader"></div>
    </div>


    <!-- NAVBAR SECTION -->
    <div class="navbar navbar-main navbar-fixed-top">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                        <div class="info">
                            <div class="info-item">
                                <span class="fa fa-phone"></span> Phone +91 9644035102, 9109271234
                            </div>
                            <div class="info-item">
                                <span class="fa fa-envelope-o"></span> <a href="mailto:laundrybay.info@gmail.com" title="">Email
                                    laundrybay.info@gmail.com</a>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                        <div class="top-sosmed pull-right" style="margin-top:0px;">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="js/images/logo_blue.png" alt="" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </div>


    <!-- BANNER ROTATOR -->
    <div class="section subbanner" style="background:url('/js/images/slide_page.jpg') no-repeat center center;   -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="caption">
                        <h3>Refund Policy</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
<div id="container">
		<div class="container">
			<div class="row">
				<div class="col-ms-12">
					<article>
						

								<h2>Refund policy</h2>

								Since our Website offers non-tangible, irrevocable goods we do not provide refunds after the product is purchased, which you acknowledge prior to purchasing any product on the Website. Please make sure that you've carefully read service description before making a purchase.</p>

<h2>Contacting us</h2>

<p>This document was last updated on December 28, 2018</p>
							
											</article>
				</div>
			</div>
		</div>
	</div>
<br><br>
    <!-- STATS SECTION FACTS -->
    <div class="section stat-facts" style="background:url('/js/images/page_img-u24411-fr.png') no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover">
        <div class="bg-overlay" style="padding:2px;">

        </div>
    </div>

    <!-- FOOTER SECTION -->
    <div class="footer">

        <div class="f-desc">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="footer-item">
                            <div class="footer-logo">
                                <img src="/js/images/flogo.png" alt="" />
                            </div>
                            <p>Laundry inside their hostel it self
                                All of us expenenu the hostel life during our college
                                days. Dirty and messy clothes are a big trouble for
                                Hostel students.
                                <br>
                                <a href="/about">Read More.</a></p>
                            <div class="footer-sosmed">

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="footer-item">
                            <div class="footer-title">
                                <h4>Policies</h4>
                            </div>
                            <div class="footer-blog-item">
                                <div class="footer-blog-lead">
                                    <a href="/privacypolicy" title="">Privacy Policy</a>
                                </div>
                            </div>
                            <div class="footer-blog-item">
                                <div class="footer-blog-lead">
                                    <a href="/refundpolicy" title="">Refund Policy</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="footer-item">
                            <div class="footer-title">
                                <h4>APP STORE DOWNLOAD</h4>
                            </div>
                            <div class="footer-form">
                                <form action="#">
                                    <div class="form-group">
                                        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.numeric.laundrybay"><img
                                                src="/js/images/android.jpg"></a>
                                    </div>
                                    <!-- <div class="form-group">
                                        <a href="#"><img src="/js/images/iphone.jpg"></a>
                                    </div> -->

                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="footer-item">
                            <div class="footer-title">
                                <h4>GET IN TOUCH</h4>
                            </div>
                            <div class="footer-getintouch">
                                <div class="footer-getintouch-item">
                                    <div class="icon">
                                        <b class="fa fa-phone"></b>
                                    </div>
                                    <div class="desc">
                                        <div class="desc-1">Phone</div>
                                        <div class="desc-2">:</div>
                                        <div class="desc-3">+91 9644035102, 9109271234 </div>
                                    </div>
                                </div>

                                <div class="footer-getintouch-item">
                                    <div class="icon">
                                        <b class="fa fa-envelope "></b>
                                    </div>
                                    <div class="desc">
                                        <div class="desc-1">Email</div>
                                        <div class="desc-2">:</div>
                                        <div class="desc-3"><a href="mailto://laundrybay.info@gmail.com" title="">laundrybay.info@gmail.com</a></div>
                                    </div>
                                </div>
                                <div class="footer-getintouch-item">
                                    <div class="icon">
                                        <b class="fa fa-map-marker"></b>
                                    </div>
                                    <div class="desc">
                                        <div class="desc-1">Address </div>
                                        <div class="desc-2">:</div>
                                        <div class="desc-3">DH-15, Opposite Maharaja<br> Complex,Deendayal Nagar<br>Gwalior
                                            (M.P.) 474020</div>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <div class="fcopy">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="ftex">&copy; 2018 Laundrybay by Numeric - All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="/js/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.freeprivacypolicy.com/assets//js/scripts.min.js?v=1545340942"></script>
    <script type='text/javascript' src='/js/js/jqBootstrapValidation.js'></script>
    <script type="text/javascript" src="/js/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/js/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="/js/js/script.js"></script>

</body>

</html>