<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Machine</title>
    <link rel="stylesheet" href="/./stylesheets/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>Machine Panel</h1>
        <div class="row">
            <div class="col-lg-2">
                <select id="cityid" class="form-control">
                    <option value="null">Choose a City</option>
                </select>
            </div>
            <div class="col-lg-2">
                <select id="hostelid" class="form-control">
                    <option value="null">Choose a Hostel</option>
                </select>
            </div>
            <div class="col-lg-3">
                <input type="text" id="name" class="form-control" placeholder="New Machine Name" />
            </div>
            <div class="col-lg-2">
                <input type="text" id="channel" class="form-control" placeholder="Channel Name" />
            </div>
            <div class="col-lg-2">
                <input type="number" id="cycle_time" class="form-control" placeholder="Cycle Time" />
            </div>
            <div class="col-lg-2">
                <button class="btn btn-block" style="float: right;" id="add">Add Machine</button>
            </div>
        </div>
        <hr>
        <div>
            <table id="result" class="table table-bordered"></table>
        </div>
    </div>
    <script src="/./javascripts/jquery.js"></script>
    <script>
        let Hostels = []

        $('#cityid').change(() => {
            $('#hostelid').empty();
            $.each(Hostels, (i, item) => $('#hostelid').append($('<option>').val(item.id).text(item.name)))
        })

        $('#add').click(function () {
            $.post('/machine/new', {
                name: $('#name').val(),
                cityid: parseInt($('#cityid').val()),
                hostelid: parseInt($('#hostelid').val()),
                channel: $('#channel').val(),
                cycle_time: $('#cycle_time').val()
            }, data => refresh())
        })

        $('#result').on('click', '.delete', e => {
            const id = e.target.attributes[1].value
            $.get(`/machine/delete/${id}`, data => refresh())
        })

        function refresh() {
            $.getJSON(`/city/all`, data => $.each(data.result, (i, item) => $('#cityid').append($('<option>').val(item.id)
                .text(item.name))))
            $.getJSON('/hostel/all', data => Hostels = data.result);
            $.getJSON('/machine/all', data => makeTable(data.result))
        }

        function makeTable(data) {
            let table =
                "<thead><th>ID</th><th>City</th><th>Hostel</th><th>Machine name</th><th>Channel</th><th>Cycle Time</th><th>Delete</th></thead>"
            $.each(data, (i, item) => {
                table +=
                    `<tr><td>${item.id}</td>
                    <td>${item.cityname}</td>
                    <td>${item.hostelname}</td>
                    <td>${item.name}</td>
                    <td>${item.channel}</td>
                    <td>${item.cycle_time}</td>
                    <td><button class="btn btn-danger delete" id=${item.id}>Delete</button></td>
                    </tr>`
            })
            table += "</table>"
            $('#result').html(table)
        }

        refresh()
    </script>
</body>

</html>