<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LaundryBay - Laundry Business </title>
    <meta name="description" content="LaundryBay - Laundry Business.">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/js/images/favicon.ico">
    <link rel="apple-touch-icon" href="/js/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/js/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/js/images/apple-touch-icon-114x114.png">
    <link href="/./admin_ui/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/./admin_ui/lite version/css/style.css" rel="stylesheet">
    <link href="/./admin_ui/lite version/css/colors/blue.css" id="theme" rel="stylesheet">
    <script src="/./javascripts/jquery.js"></script>
    <script src="/./js/cycle_use.js"></script>
</head>

<body>
    <div class="container">
        <h1>Cycle Used History</h1>
        <div class="row">
            <div class="row">
                <div class="col-md-4">
                    <select id='user' class="form-control">
                        <option value="SHOW_ALL_USERS">Select user</option>
                    </select>
                </div><br>
                <div class="row">
                    <div id="result"></div>
                </div>

            </div>
</body>

</html>